<style>

.container

#main-bio { float: left;
		width: 70%;
}

#bio-image { float: left;
			width: 200px;
			margin: 15px;
}

#contact-info { float: left;
			width: 30%;
			line-height: 1.5;

}

#copyright { text-align: center;

}

#header { height: 100px; 
			background-color: #cccccc;}


body {
	background-color: #efeee7;
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #333333;
	width:960px;
	}

header { background-color: #cccccc;
margin:0;
padding:0;
color: black;}

h1 {color: black;
	font-size: 28px;
	margin:0
	padding:15px;
	float: left;
	}

h2 {font-size: 24px;
	width: 1024px;
	margin: 0;
	}

footer { position: fixed;
		width: 100%;
		height: 200px; 
		background-color: #666666; }

nav {	float: right ;


}